@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#card {
    display: grid;
    grid-template-areas: box;
}

#card picture {
    grid-area: box;
}

#card_bookmark {
    grid-area: box;
    justify-self: end;
}

#card_trending_text {
    grid-area: box;
    align-self: end;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    overflow: hidden;
}

@media (min-width: 1440px) {
    .react-horizontal-scrolling-menu--scroll-container {
        width: 1275px;
        gap: 20px;
    }
}
