@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#card {
    display: grid;
    grid-template-areas: box;

}

#card picture {
    grid-area: box;
}

#card_bookmark {
    grid-area: box;
    justify-self: end;
}

#card_trending_text {
    grid-area: box;
    align-self: end;
}
